<!-- FOOTER -->
<footer class="footer" >
    <div class="container">
        <div class="footer__back img">
            <img src="./../img/footer-bg.svg" alt="">
        </div>
        <div class="footer__block">
            <div class="footer__item">
                <a class="footer__logo img" href="">
                    <img src="./../img/footer-logo.svg" alt="">
                </a>
                <h2 class="footer__title">A<span>p</span>pear for success!</h2>
                <div class="footer__btn">
                    <a href="" class="section__button primary">Online Campus</a>
                    <a href="" class="section__button">Kalender</a>
                </div>
            </div>
            <div class="footer__menu-wrap">
                <div class="footer__menu">
                    <h2 class="section__subtitle">Navigation</h2>
                    <div class="footer__list">
                        <a class="section__text" href="">Kalender</a>
                        <a class="section__text" href="">Seminare</a>
                        <a class="section__text" href="">Exklusiv</a>
                        <a class="section__text" href="">Auditoren</a>
                        <a class="section__text" href="">Online Campus</a>
                    </div>
                </div>
                <div class="footer__menu">
                    <h2 class="section__subtitle">Kontaktinformationen</h2>
                    <div class="footer__list">
                        <a class="section__text" href="https://maps.app.goo.gl/roeum5czKPbspdAE8">Edelfrauengrab 33
                            77883 Ottenhöfen im Schwarzwald</a>
                        <a class="section__text" href="tel:+49017683342260">+49 (0)176 83342260</a>
                        <a class="section__text" href="mailto:jmhecker@pear-academy.de">jmhecker@pear-academy.de</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__block">
                <p class="section__text" >© 2024 Copyright | All right reserved</p>
                <div class="footer__menu-wrap">
                    <a class="section__text" href="">Datenschutzerklärung</a>
                    <a class="section__text" href="">Impressum</a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- /FOOTER -->
